#Game {
    background-color: $purple;
    width: 100vw;
    height: 100vh;

    .menu {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        width: 100vw;
        z-index: 10;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

        .menu_btn_container {
            @include border;
            background-color: $purple;
            width: 90%;
            height: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px 0;

            p {
                color: white;
                font-size: 56px;
                text-align: center;
            }


            .btn_menu {
                display: block;
                @include border;
                width: 90%;
                background-color: white;
                padding: 20px 30px;
                text-align: center;
                text-decoration: none;
                margin: 5px 0;
                font-size: 24px;
                cursor: pointer;
            }

            .btn_menu_pink {
                background-color: $pink;
                color: white;
            }
        }
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px 0;

        .btn_nav {
            text-decoration: none;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 20px;
            background-color: $dark_purple;
            padding: 10px 20px;
            width: 100px;
            cursor: pointer;
        }

        img {
            height: 55px;
            width: 55px;
        }
    }

    .game {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.5fr;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        justify-items: center;

        .player {
            @include border;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding: 10px 0;
            width: 155px;

            p {
                color: black;
                font-weight: bold;
                font-size: 16px;
            }

            strong {
                font-size: 32px;
            }

        }

        .player_one {
            justify-self: end;
            grid-area: 1 / 1 / 2 / 2;

            img {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .player_two {
            justify-self: start;
            grid-area: 1 / 2 / 2 / 3;

            img {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(50%, -50%);
            }
        }

        .marker_container {
            grid-area: 2 / 1 / 3 / 3;
            width: 335px;
            height: 36px;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 6px;
            justify-items: center;
            padding: 0 8px;
            margin: 12px 0 3px 0;

            .column_marker {
                width: 38px;
                height: 36px;

                img {
                    display: none;
                }
            }
        }

        .board {
            width: 335px;
            height: 320px;
            position: relative;
            grid-area: 3 / 1 / 4 / 3;


            .board_white {
                z-index: 3;
                position: absolute;
            }

            .board_black {
                z-index: 1;
                position: absolute;
            }

            .board_game {
                width: 100%;
                height: 100%;
                padding: 7px 7px 40px 7px;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 5.7px;
                position: absolute;
                z-index: 2;

                .column {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(6, 1fr);
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    gap: 1px;

                    .item {
                        z-index: 2;
                        width: 41px;
                        height: 46px;
                        display: none
                    }

                }

            }

            .column_for_marker {
                @extend .board_game;
                z-index: 4;
            }

            .board_bottom {
                height: 120px;
                width: 140px;
                position: absolute;
                z-index: 5;
                top: 100%;
                left: 50%;
                transform: translate(-50%, -29%);

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }

                div {
                    position: relative;
                    padding: 20px 0;
                    text-align: center;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    p {
                        color: black;
                        font-size: 15px;
                    }

                    strong {
                        font-size: 40px;

                        span {
                            font-size: 25px;
                        }
                    }

                }
            }
        }
    }

    .bottom {
        background-color: $dark_purple;
        width: 100%;
        // taille ecran - taille nav +taille game - translate
        height: calc(100vh - calc(115px + 458px - 30px));
        transform: translateY(-30px);
        border-radius: 60px 60px 0px 0px;
    }

}

.column_for_marker :hover {
    background-color: red;
}

@media screen and (min-width:750px) {
    #Game {
        height: 100%;
        width: 100%;

        .menu {
            .menu_btn_container {
                max-width: 550px;
            }
        }

        .game {
            margin-bottom: -20px;
            grid-column-gap: 60px;

            .player {
                width: 285px;
                flex-direction: row;
                justify-content: space-evenly;

                p {
                    font-size: 20px;
                }

                strong {
                    font-size: 56px;
                }
            }

            .player_two {
                flex-direction: row-reverse;
            }

            .marker_container {
                width: 632px;
                grid-column-gap: 18px;
                padding: 0 18px;
            }

            .board {
                height: 584px;
                width: 632px;

                .board_game {
                    padding: 17px 17px 59px 17px;
                    grid-column-gap: 18px;

                    .column {
                        gap: 13px;

                        .item {
                            height: 75px;
                            width: 70px;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                .board_bottom {
                    width: 200px;
                    height: 150px;

                    div {
                        p {
                            font-size: 20px;
                        }

                        strong {
                            font-size: 50px;
                        }
                    }
                }
            }
        }

        .bottom {
            height: calc(100px - calc(115px + 722px));
            transform: none;
        }
    }
}

@media screen and (min-width:1100px) {
    #Game {
        nav {
            padding: 20px 0 0 0;
        }

        .game {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: -40px;

            // grid-template-rows: repeat(3, 1fr);
            .player {
                width: 140px;
                height: 160px;
                align-self: center;
                flex-direction: column;
                justify-content: center;
                padding-top: 30px;
            }

            .player_one {
                grid-area: 2 / 1 / 3 / 2;

                img {
                    top: 0;
                    left: 50%;
                }
            }

            .player_two {
                grid-area: 2 / 3 / 3 / 4;

                img {
                    top: 0;
                    right: 50%;
                }
            }

            .marker_container {
                grid-area: 1 / 2 / 2 / 3;
            }

            .board {
                grid-area: 2 / 2 / 3 / 3;
            }
        }
    }
}