#Game {
    background-color: $purple;
    width: 100vw;
    height: 100vh;
    user-select: none;

    .menu {
        height: 100vh;
        width: 100vw;
        z-index: 10;
        position: fixed;
        justify-content: center;
        align-items: center;
        display: none;

        #menu_background {
            background-color: rgba(0, 0, 0, 0.5);
            height: 100vh;
            width: 100vw;
            position: absolute;
        }

        .menu_btn_container {
            position: absolute;
            @include border;
            background-color: $purple;
            width: 90%;
            height: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px 0;

            p {
                color: white;
                font-size: 56px;
                text-align: center;
                text-transform: uppercase;
            }

            .btn_menu {
                @include large_btn;
                justify-content: center;
            }

            .btn_menu:hover {
                @include large_btn_hover
            }

            .btn_menu_pink {
                background-color: $pink;
                color: white;
            }
        }
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0;

        .btn_nav {
            @include small_btn
        }

        img {
            height: 55px;
            width: 55px;
        }
    }

    .game {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.5fr;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        justify-items: center;

        .player {
            cursor: default;
            @include border;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding: 10px 0;
            width: 155px;

            p {
                color: black;
                font-weight: bold;
                font-size: 16px;
                text-transform: uppercase;
            }

            strong {
                font-size: 32px;
            }

        }

        .player_one {
            justify-self: end;
            grid-area: 1 / 1 / 2 / 2;

            img {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .player_two {
            justify-self: start;
            grid-area: 1 / 2 / 2 / 3;

            img {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(50%, -50%);
            }
        }

        .marker_container {
            grid-area: 2 / 1 / 3 / 3;
            width: 335px;
            height: 36px;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 6px;
            justify-items: center;
            padding: 0 8px;
            margin: 15px 0 5px 0;
            margin-bottom: 3px;

            .column_marker {
                width: 38px;
                height: 36px;

                img {
                    display: none;
                }
            }
        }

        .board {
            width: 335px;
            height: 320px;
            position: relative;
            grid-area: 3 / 1 / 4 / 3;


            .board_white {
                z-index: 3;
                position: absolute;
            }

            .board_black {
                z-index: 1;
                position: absolute;
            }

            .board_game {
                width: 100%;
                height: 100%;
                padding: 7px 7px 40px 7px;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 5.7px;
                position: absolute;
                z-index: 2;

                .column {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(6, 1fr);
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    gap: 1px;

                    .item {
                        z-index: 2;
                        width: 41px;
                        height: 46px;
                        position: relative;

                        picture {
                            display: none;
                            position: absolute;
                            //default value for animation
                            animation-duration: 1.1s;
                            animation-fill-mode: forwards;
                            animation-iteration-count: 1;
                        }

                        .anim_coin_fall_5 {
                            animation-name: coin_5;
                        }

                        .anim_coin_fall_4 {
                            animation-name: coin_4;
                            animation-duration: 1s;
                        }

                        .anim_coin_fall_3 {
                            animation-name: coin_3;
                            animation-duration: 1s;
                        }

                        .anim_coin_fall_2 {
                            animation-name: coin_2;
                            animation-duration: 0.9s;
                        }

                        .anim_coin_fall_1 {
                            animation-name: coin_1;
                            animation-duration: 0.8s;
                        }

                        .anim_coin_fall_0 {
                            animation-name: coin_0;
                            animation-duration: 0.8s;
                        }

                        .circle {
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            scale: 1.1;
                            top: 20%;
                            left: 20%;
                            z-index: 6;
                            filter: brightness(0) saturate(100%) invert(98%) sepia(4%) saturate(395%) hue-rotate(240deg) brightness(117%) contrast(100%);
                            animation-name: breath;
                            animation-duration: 1s;
                            animation-direction: alternate;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                        }
                    }

                    .yellow {
                        picture {
                            display: block
                        }
                    }

                    .red {
                        picture {
                            display: block
                        }
                    }
                }
            }

            .column_for_marker {
                @extend .board_game;
                z-index: 4;
            }

            .column_for_marker div {
                cursor: pointer;
            }

            .board_bottom {
                position: absolute;
                z-index: 5;
                top: 100%;
                left: 50%;
                transform: translate(-50%, -25%);
                width: fit-content;
                height: fit-content;
                cursor: default;

                .bottom_game_turn {
                    height: 120px;
                    width: 140px;

                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }

                    div {
                        position: relative;
                        padding: 20px 0;
                        text-align: center;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        p {
                            color: black;
                            font-size: 15px;
                            text-transform: uppercase;
                            margin-top: 10px;
                        }

                        strong {
                            font-size: 40px;

                            span {
                                font-size: 25px;
                            }
                        }
                    }
                }

                .bottom_game_finish {
                    transform: translate(0, 5%);
                    @include border;
                    background-color: white;
                    height: 160px;
                    width: 280px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    display: none;

                    p {
                        font-size: 16px;
                        color: black;
                        text-transform: uppercase;
                    }

                    strong {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 56px;
                    }

                    a {
                        @include small_btn;
                        width: fit-content;
                    }
                }
            }
        }
    }

    .bottom {
        background-color: $dark_purple;
        width: 100%;
        // taille ecran - taille nav +taille game - translate
        height: calc(100vh - calc(75px + 460.67px - 30px));
        transform: translateY(-30px);
        border-radius: 60px 60px 0px 0px;
    }

}

@media screen and (min-width:750px) {
    #Game {
        height: 100%;
        width: 100%;

        .menu {
            .menu_btn_container {
                max-width: 550px;
            }
        }

        .game {
            margin-bottom: -20px;
            grid-column-gap: 60px;

            .player {
                width: 285px;
                flex-direction: row;
                justify-content: space-evenly;

                p {
                    font-size: 20px;
                }

                strong {
                    font-size: 56px;
                }
            }

            .player_two {
                flex-direction: row-reverse;
            }

            .marker_container {
                width: 632px;
                grid-column-gap: 18px;
                padding: 0 18px;
            }

            .board {
                height: 584px;
                width: 632px;

                .board_game {
                    padding: 17px 17px 59px 17px;
                    grid-column-gap: 18px;

                    .column {
                        gap: 13px;

                        .item {
                            height: 75px;
                            width: 70px;

                            .circle {
                                height: 50px;
                                width: 50px;
                                animation-name: breath;
                                top: 15%;
                                left: 15%;
                            }
                        }
                    }
                }

                .board_bottom {
                    .bottom_game_turn {
                        width: 190px;
                        height: 150px;

                        div {
                            justify-content: space-evenly;
                        }

                        div p {
                            font-size: 20px;
                        }

                        strong {
                            font-size: 50px;
                        }
                    }

                    .bottom_game_finish {
                        transform: none;
                    }
                }
            }
        }

        .bottom {
            transform: none;
        }
    }
}

@media screen and (min-width:1100px) {
    #Game {

        .game {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: -40px;

            .player {
                width: 140px;
                height: 160px;
                align-self: center;
                flex-direction: column;
                justify-content: center;
                padding-top: 30px;
            }

            .player_one {
                grid-area: 2 / 1 / 3 / 2;

                img {
                    top: 0;
                    left: 50%;
                }
            }

            .player_two {
                grid-area: 2 / 3 / 3 / 4;

                img {
                    top: 0;
                    right: 50%;
                }
            }

            .marker_container {
                grid-area: 1 / 2 / 2 / 3;
                margin: 5px 0;
            }

            .board {
                grid-area: 2 / 2 / 3 / 3;
            }
        }
    }
}

.btn_hover_red:hover {
    background-color: $pink !important;
}

.btn_hover_yellow:hover {
    background-color: $yellow !important;
}

@keyframes breath {
    from {
        scale: 1;
    }

    to {
        scale: 0.4;
    }
}

@keyframes menu_close {
    from {
        transform: translate(0px, 0);
    }

    20% {
        transform: translate(-150px, 0);
    }

    to {
        transform: translate(90vw, 0);
    }
}

@keyframes menu_close_background {
    from {
        opacity: 1;
    }

    50% {
        opacity: .60;
    }

    to {
        opacity: 0;
    }
}

@keyframes coin_5 {
    from {
        transform: translateY(-680%);
        animation-timing-function: cubic-bezier(1, .325, .35, .9);
        //some test
        // animation-timing-function:cubic-bezier(1,0,.34,1) ;
        // animation-timing-function:cubic-bezier(1,.35,.45,.9) ;
        // animation-timing-function:cubic-bezier(.75,.2,.3,1) ;
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, .9, .3, .8);
        //some test
        // animation-timing-function: cubic-bezier(.20,.65,.3,.8) ;
    }

    68% {
        transform: translateY(-290%);
        animation-timing-function: cubic-bezier(.8, 0, .3, 1);
    }

    82% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(.25, .65, .3, .8);
    }

    90% {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes coin_4 {
    from {
        transform: translateY(-570%);
        animation-timing-function: cubic-bezier(1, .325, .35, .9);
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, .9, .3, .8);
    }

    68% {
        transform: translateY(-190%);
        animation-timing-function: cubic-bezier(.8, 0, .3, 1);
    }

    82% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(.25, .65, .3, .8);
    }

    90% {
        transform: translateY(-80%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes coin_3 {
    from {
        transform: translateY(-460%);
        animation-timing-function: cubic-bezier(1, .325, .35, .9);
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, .9, .3, .8);
    }

    68% {
        transform: translateY(-170%);
        animation-timing-function: cubic-bezier(.8, 0, .3, 1);
    }

    82% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(.25, .65, .3, .8);
    }

    90% {
        transform: translateY(-70%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes coin_2 {
    from {
        transform: translateY(-350%);
        animation-timing-function: cubic-bezier(1, .325, .35, .9);
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, .9, .3, .8);
    }

    68% {
        transform: translateY(-80%);
        animation-timing-function: cubic-bezier(.8, 0, .3, 1);
    }

    82% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(.25, .65, .3, .8);
    }

    90% {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes coin_1 {
    from {
        transform: translateY(-240%);
        animation-timing-function: cubic-bezier(1, .325, .35, .9);
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, .9, .3, .8);
    }

    68% {
        transform: translateY(-60%);
        animation-timing-function: cubic-bezier(.8, 0, .3, 1);
    }

    82% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(.25, .65, .3, .8);
    }

    90% {
        transform: translateY(-30%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes coin_0 {
    from {
        transform: translateY(-130%);
        animation-timing-function: cubic-bezier(1, .325, .35, .9);
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, .9, .3, .8);
    }

    68% {
        transform: translateY(-40%);
        animation-timing-function: cubic-bezier(.8, 0, .3, 1);
    }

    82% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(.25, .65, .3, .8);
    }

    90% {
        transform: translateY(-20%);
    }

    to {
        transform: translateY(0);
    }
}