$dark_purple: #5C2DD5;
$purple: #7945FF;
$pink: #FD6687;
$yellow: #FFCE67;
$font_grey: #575757;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    color: black;
}

p {
    color: $font_grey;
    font-weight: normal;
}

body::-webkit-scrollbar {
    display: none;
}

@mixin border () {
    border: 3px solid #000000;
    border-radius: 20px;
    box-shadow: 0px 10px 0px 0px #000000;
}

@mixin small_btn () {
    color: white;
    background-color: $dark_purple;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    width: 110px;
    cursor: pointer;
    transition: all 0.5s
}

@mixin large_btn () {
    @include border;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 90%;
    height: 80px;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 30px;
    transition: all 0.3s;

    img {
        height: 100%;
        width: auto;
    }
}

@mixin large_btn_hover () {
    border-color: $dark_purple;
    transform: translateY(5px);
    box-shadow: 0px 5px 0px 0px $dark_purple;
}

@import "home.scss";
@import "rules.scss";
@import "game.scss";